body, html {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(/img/wolkje.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}
@media only screen and (max-width: 900px) {
    body {
        background-image: url(/img/wolkje-klein.jpg);
    }
}
div#header {
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    text-align: center;
}
div#header h1 {
    font-size: 32pt;
    color: white;
    font-family: sans;
    text-shadow: 2px 2px 1px #000;
}
div#content {
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    text-align: left;
}
div#content h1 {
    font-size: 24pt;
    color: white;
    font-family: sans;
    padding: 1em;
    text-shadow: 1px 1px 0px #000;
}
div#content p {
    font-size: 18pt;
    color: black;
    font-family: serif;
    padding: 1em;
}
div#footer {
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    text-align: left;
}
div#footer p {
    font-size: 12pt;
    color: black;
    font-family: serif;
    padding: 0.5em;
}
