body, html, div, pre, p, ul, h1, h2, h3, img {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: #044e82;
    color: #044e82;
}
div#container {
    max-width: 1200px;
    background-color: white;
    margin: auto;
    text-align: left;
}

div#header {
    background-color: white;
    max-width: 1200px;
    margin: auto;
}
div#header img {
    width: 60%;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 4em;
    padding-bottom: 4em;
    display: block;
}
div#header-bar {
    padding-top: 1ex;
    background-color: #044e82;
}
ul#header-list li {
    background-color: white;
    margin-bottom: 1ex;
}
ul#header-list li a, ul#header-list li p {
    color: black;
    display: block;
    font-size: 3.5em;
    padding: 0.5em 0em 0.5em 1.15em;
}
ul#header-list li a {
    color: #044e82;
    text-decoration: underline;
}
ul#header-list li a:hover {
    color: white;
    background-color: rgba(4, 78, 130, 0.75);
}

div#content {
    width: 60%;
    margin-top: 1ex;
    padding-left: 4em;
    padding-top: 1ex;
    padding-bottom: 1ex;
    color: black;
    background-color: white;
    text-align: justify;
}
div#content h1 {
    font-size: 2.0em;
    padding-bottom: 0.1em;
}
div#content h2 {
    font-size: 1.5em;
    padding-bottom: 0.2em;
}
div#content pre {
    font-family: monospace;
    font-size: 1.25em;
    padding-bottom: 1em;
}
div#content p {
    font-size: 1em;
    padding-bottom: 1em;
}
div#content ul {
    padding-bottom: 0.5em;
    font-size: 1em;
    text-align: left;
}
div#content ul li ul {
    font-size: 1em;
    padding-left: 1em;
}
div#content ul li em {
    font-family: serif;
}
div#content ul li tt {
    font-family: monospace;
}

div#footer {
    max-width: 1200px;
    margin: auto;
    color: #044e82;
}
div#footer p {
    margin-top: 1ex;
    padding: 0.5em 0em 0.5em 2em;
    color: white;
    font-size: 0.85em;
}
div#footer p a {
    color: white;
}
div#footer p a:hover {
    color: white;
    text-decoration: none;
}
